In [5]:
import numpy as np 
import pandas as pd
#np --> numerical panda, es una llibreria per a realitzar càlcul numèric
#les notes de dawbio amb series
student_list=["John","Mary","Lucy","Peter"]
grades_list = [7,9,8,4]
wants_dual_list = [False,True,False,True]
datos: dict[list] = {"grade": grades_list,
                   "dual": wants_dual_list}
students = pd.DataFrame(
    index=student_list,
    data = datos
)


# Create a new column
students.loc[:, "cat_grade"] = ["Notable", "Excelente", "Notable", "Insuficiente"]

students.loc[:, "cat_grade"] = students.loc[:, "cat_grade"].astype("category")
students.dtypes


# Write categoricals in the same order as their numeric equivalents
cat_grades: list[str] = ["Insuficiente", "Suficiente", "Bien", "Notable", "Excelente"]
students.loc[:, "cat_grade"] = students.loc[:, "cat_grade"].cat.set_categories(cat_grades)
students.loc[:, "cat_grade"]


students.sort_values(by=["cat_grade", "grade"], ascending=False)

       grade   dual     cat_grade
Mary       9   True     Excelente
Lucy       8  False       Notable
John       7  False       Notable
Peter      4   True  Insuficiente

In [6]:
# Categoricals (v2, uses .apply() )

# Generate categoricals from their numeric equivalents with a function
# In Python 3.10 use match+case
def get_categorical_grade(grade: int) -> str:

    result: str

    if 0 <= grade <= 4:
        result = "Insuficiente"
    elif grade == 5:
        result = "Suficiente"
    elif grade == 6:
        result = "Bien"
    elif 7 <= grade <= 8:
        result = "Notable"
    elif 9 <= grade <= 10:
        result = "Excelente"
    else:
        result = "Error!"

    return result


# Create a new column of categorical values
numerical_grades:   pd.Series = students.loc[:, "grade"]
categorical_grades: pd.Series = numerical_grades.apply(get_categorical_grade)
students.loc[:, "cat_grade"]  = categorical_grades

# Convert to Category dtype
students.loc[:, "cat_grade"] = students.loc[:, "cat_grade"].astype("category")

# Set all categories to the type
all_categorical_grades = ["Insuficiente", "Suficiente", "Bien", "Notable", "Excelente"]
students.loc[:, "cat_grade"] = students.loc[:, "cat_grade"].cat.set_categories(all_categorical_grades)
students.loc[:, "cat_grade"]

students.sort_values(by=["cat_grade", "grade"], ascending=False)

       grade   dual     cat_grade
Mary       9   True     Excelente
Lucy       8  False       Notable
John       7  False       Notable
Peter      4   True  Insuficiente

In [7]:
# Categoricals (v3, uses method chaining, unique() and simplifies the function used on .apply() )

# Generate categoricals from their numeric equivalents with a function
numerical_grades:   list[int] = list(range(0,11))
categorical_grades: list[str] = ["Insuficiente", "Insuficiente", "Insuficiente", "Insuficiente", "Insuficiente",
                                 "Suficiente",
                                 "Bien",
                                 "Notable", "Notable",
                                 "Excelente", "Excelente",
                                ]
num_cat_grades: pd.Series = pd.Series(index=numerical_grades, data=categorical_grades)

# Function that will use num_cat_grades to convert grades from numerical to categorical
def get_categorical_grade(grade: int) -> str:
    return num_cat_grades[grade]

# List of categories in their ascending order. unique() preserves order, unlike sets!
unique_cat_grades: np.ndarray = num_cat_grades.unique()

# Create a new column, assign categorical values, convert dytpe, set all possible categories
students.loc[:, "cat_grade"] = (students.loc[:, "grade"]
                                .apply(get_categorical_grade)
                                .astype("category")
                                .cat.set_categories(unique_cat_grades)
)

# Sort returns a new DataFrame
students.sort_values(by=["cat_grade", "grade"], ascending=False)

       grade   dual     cat_grade
Mary       9   True     Excelente
Lucy       8  False       Notable
John       7  False       Notable
Peter      4   True  Insuficiente

In [9]:
# Categoricals (v4, the easiest to read. Uses .map() and a Series as a dict)

# Write all correspondences in an easy-to-read way.
correspondences: list[tuple[int, str]] = [
    ( 0, "Insuficient"),
    ( 1, "Insuficient"),
    ( 2, "Insuficient"),
    ( 3, "Insuficient"),
    ( 4, "Insuficient"),
    ( 5, "Suficient"),
    ( 6, "Bé"),
    ( 7, "Notable"),
    ( 8, "Notable"),
    ( 9, "Exceŀlent"),
    (10, "Exceŀlent"),
]

# Put the correspondences in a Series, not a dict. We need Series.unique()
numerical_grades:   list[int] = [item[0] for item in correspondences]
categorical_grades: list[str] = [item[1] for item in correspondences]
num_cat_grades:     pd.Series = pd.Series(index=numerical_grades, data=categorical_grades)
num_cat_grades
# List of categories in their ascending order. unique() preserves order, unlike sets!
unique_cat_grades: np.ndarray = num_cat_grades.unique()

# Instead of .apply() we can use .map() directly using a dict or a Series.
students.loc[:, "cat_grade"] = (students.loc[:, "grade"]
                                .map(num_cat_grades)
                                .astype("category")
                                .cat.set_categories(unique_cat_grades)
)

# Sort returns a new DataFrame
students.sort_values(by=["cat_grade", "grade"], ascending=False)

array(['Insuficient', 'Suficient', 'Bé', 'Notable', 'Exceŀlent'],
      dtype=object)